@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html,
body,
.nav-wrapper {
  background-color: #ffffff;
  font-family: "Open Sans";
  -webkit-box-shadow: 0px 0px 15px #888888;
          box-shadow: 0px 0px 15px #888888;
}

label {
  color: #194687;
  margin-bottom: 0rem;
}

textarea,
input {
  border: 1px solid #194687 !important;
}

input {
  height: 47px;
}

.fill-width {
  width: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #456389;
  content: ">";
}

.breadcrumb-item > a {
  color: #456389;
}

.breadcrumb-item > a:hover {
  color: #5d81af;
  text-decoration: none;
}

.breadcrumb {
  background-color: #ffffff;
  font-size: 0.8rem;
}

.dropdown-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1px 0px 0px -20px;
  border-radius: 0px;
  background-color: #1f405f;
}

@media screen and (max-width: 767px) {
  .dropdown-menu.show {
    display: block;
    margin: 0px;
  }
}

.dropdown-menu.show .dropdown-item {
  color: #fefefe;
}

.dropdown-menu.show .dropdown-item:hover {
  background-color: #24597d;
}

.nav-wrapper {
  height: 106px;
}

@media screen and (max-width: 767px) {
  .nav-wrapper {
    width: 100%;
    height: 80px;
  }
}

.wrapper {
  padding-top: 106px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
    padding-top: 80px;
  }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 5px;
  padding-left: 5px;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.content {
  margin: 0 auto;
  max-width: 1024px;
}

@media screen and (max-width: 370px) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .content {
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  .navbar .margin-nav-content {
    margin-top: 17px;
  }

  .navbar .margin-nav-content .margin-nav-items {
    margin-top: 19px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    float: right;
  }
}

.navbar-nav {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .navbar-nav .nav-item.active:after {
    background: #1f405f;
    content: '';
    display: block;
    height: 5px;
    margin-top: 33px;
    width: 120%;
  }
}

.navbar-expand-md {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .navbar-toggler {
    margin-top: 11px;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='#194687' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

@media screen and (max-width: 767px) {
  [class*="nav-option"] > a {
    color: #fefefe !important;
  }
}

@media screen and (max-width: 767px) {
  .nav-option-1 {
    background-color: #194687;
    border: 1px solid #194687;
  }
}

@media screen and (max-width: 767px) {
  .nav-option-2 {
    background-color: #19467d;
    border: 1px solid #19467d;
  }
}

@media screen and (max-width: 767px) {
  .nav-option-3 {
    background-color: #1a4673;
    border: 1px solid #1a4673;
  }
}

@media screen and (max-width: 767px) {
  .nav-option-4 {
    background-color: #184366;
    border: 1px solid #184366;
  }
}

@media screen and (max-width: 767px) {
  .nav-option-5 {
    background-color: #173c56;
    border: 1px solid #173c56;
  }
}

@media screen and (max-width: 767px) {
  .nav-option-6 {
    background-color: #153649;
    border: 1px solid #153649;
  }
}

@media screen and (max-width: 767px) {
  .nav-option-7 {
    background-color: #13303e;
    border: 1px solid #13303e;
  }
}

.section-content {
  width: 100%;
  text-transform: uppercase;
}

.home-banner {
  text-align: center;
  height: 639px;
  color: #fefefe;
  font-size: 27px;
  letter-spacing: 16px;
  background: #107dff;
}

.home-banner .cta-button {
  margin-top: 60px;
}

.home-banner .section-content {
  height: 100%;
}

.home-banner .section-content .slick-list {
  height: 100%;
}

.home-banner .section-content .slick-list .slick-track {
  height: 100%;
}

.home-banner .section-content .slick-list .slick-track .slider-item {
  padding: 148px 0px !important;
  height: 100%;
  background-size: 142%;
}

@media screen and (max-width: 767px) {
  .home-banner .section-content .slick-list .slick-track .slider-item {
    padding: 100px 0px !important;
  }
}

.home-banner .section-content .slick-list .slick-track .slider-item-1 {
  background: url("/images/home/banners/desktop/slider_item_1.png") center no-repeat;
}

@media screen and (max-width: 767px) {
  .home-banner .section-content .slick-list .slick-track .slider-item-1 {
    background: url("/images/home/banners/mobile/slider_item_1.png") center no-repeat;
  }
}

.home-banner .section-content .slick-list .slick-track .slider-item-2 {
  background: url("/images/home/banners/desktop/slider_item_2.png") center no-repeat;
}

@media screen and (max-width: 767px) {
  .home-banner .section-content .slick-list .slick-track .slider-item-2 {
    background: url("/images/home/banners/mobile/slider_item_2.png") center no-repeat;
  }
}

.home-banner .slick-dots {
  bottom: 15px;
}

@media screen and (max-width: 767px) {
  .home-banner .slick-dots {
    bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .home-banner {
    font-size: 12px !important;
    letter-spacing: 8px;
    height: auto;
  }

  .home-banner .slider-item {
    padding: 78px 0px 13px 0px;
    height: 100%;
  }

  .home-banner .slider-item-2 {
    background: url("/images/home/banners/mobile/slider_item_2.png") center no-repeat;
    background-size: 100%;
  }

  .home-banner .cta-button {
    margin-top: 35px;
  }
}

.slick-dots li button:before {
  font-size: 9px;
  color: #bfbfbf;
}

.slick-dots li.slick-active button:before {
  color: #feffff;
}

.make-budget {
  text-align: center;
  padding: 30px 0;
  height: 223px;
  color: #fefefe;
  font-size: 20px;
  background: #1f405f;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.make-budget span {
  display: block;
  padding: 7px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .make-budget {
    font-size: 12px;
    height: auto;
  }
}

.banner-title {
  border: #60cdb0 solid 4px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  background-color: transparent;
  color: #fefefe;
  font-size: 29px;
  letter-spacing: 16px;
  padding: 30px 102px;
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: bolder;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .banner-title {
    padding: 10px 30px;
    width: auto;
    font-size: 19px;
    letter-spacing: 8px;
  }
}

.cta-button {
  border: #60cdb0 solid 6px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  background-color: transparent;
  color: #fefefe;
  font-size: 21px;
  letter-spacing: 4px;
  padding: 8px;
  width: 464px;
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: bold;
  text-align: center;
}

.cta-button:hover {
  border: #5db99d solid 6px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  font-size: 21px;
  padding: 8px 20px;
  color: #fefefe;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cta-button {
    width: 294px;
    font-size: 12px;
  }
}

@media screen and (max-width: 370px) {
  .cta-button {
    width: 229px;
    font-size: 10px;
  }
}

.services {
  text-align: center;
  color: #fefefe;
  letter-spacing: 4px;
  background: #107dff;
}

.services .cta-button {
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .services .services-slide-title {
    font-size: 20px;
  }

  .services .services-slide-description {
    font-size: small;
  }
}

.services .slick-dots {
  bottom: 5px;
}

@media screen and (max-width: 767px) {
  .services .slick-dots {
    margin-top: 0px;
  }
}

.services .slick-dots li button:before {
  font-size: 9px;
  color: #bfbfbf;
}

.services .slick-dots li.slick-active button:before {
  color: #feffff;
}

.services .slider-item {
  padding: 96px 122px 96px 122px;
}

@media screen and (max-width: 767px) {
  .services .slider-item {
    padding: 45px 20px 60px 20px;
  }
}

.partners {
  text-align: center;
  padding: 45px 0px 4px 0px;
}

.partners .partners-title {
  font-size: 17px;
  letter-spacing: 4px;
}

.partners ul {
  list-style: none;
}

.partners .slick-dots {
  margin-top: 0px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .partners .slick-dots {
    margin-top: 0px;
  }
}

.partners .slick-dots li button:before {
  font-size: 9px;
  color: #bfbfbf;
}

.partners .slick-dots li.slick-active button:before {
  color: #194687;
}

.partners .slider-item {
  padding: 0;
}

.leads {
  padding: 30px 0px 13px 0px;
  color: #fefefe;
  background: #194687;
}

.leads form {
  margin-top: 8px;
}

.leads .form-control {
  padding: .85rem .75rem;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .leads {
    padding: 25px 20px 25px 20px;
    text-align: center;
    font-size: 15px !important;
  }
}

.footer {
  background: #1f405f;
  padding: 47px 0px 55px 0px;
  color: #fefefe;
  font-size: 12px;
  line-height: 22px;
}

.footer img {
  margin-bottom: 27px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 25px 20px 25px 20px;
  }

  .footer img {
    width: 147px;
  }

  .footer .facebook-icon,
  .footer .newmove-icon {
    width: 48px;
  }
}

.footer hr {
  margin-top: 0.4rem;
  margin-bottom: 26px;
  border: 0;
  border-top: 1px solid #fff;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer .footer-navigation > li {
  margin-bottom: 2px;
}

.footer .footer-target-description {
  width: 458px;
}

@media screen and (max-width: 767px) {
  .footer .footer-target-description {
    width: 100%;
  }
}

.text-blue {
  color: #194687;
}

.hr-blue {
  border: 1px solid #c5d1e1;
}

.text-blue-dark {
  color: #1f405f;
}

.text-blue-light {
  color: #107dff;
}

.m-t-37 {
  margin-top: 37px;
}

.content-paragraph {
  letter-spacing: 2px;
}

.paragraph-width {
  width: 475px;
}

.banner {
  text-align: center;
  padding: 148px 0px 13px 0px;
  height: 639px;
  color: #fefefe;
  font-size: 27px;
  letter-spacing: 16px;
  background: #107dff;
}

.banner .cta-button {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .banner {
    font-size: 12px !important;
    letter-spacing: 8px;
    height: auto;
    padding: 78px 0px 13px 0px;
  }

  .banner .cta-button {
    margin-top: 35px;
  }
}

.btn {
  padding: .85rem 1.4rem;
  border-radius: 10px;
}

.btn-assign {
  background-color: #107dff;
  border-color: #107dff;
  color: #fefefe;
}

.btn-assign:hover {
  background-color: #1072db;
  border-color: #1072DB;
}

@media screen and (max-width: 767px) {
  .btn-assign {
    margin-top: 10px;
    width: 100%;
  }
}

.btn-assign-dark {
  background-color: #194687;
  border-color: #194687;
  color: #fefefe;
}

.btn-assign-dark:hover {
  background-color: #1a5596;
  border-color: #1a5596;
}

@media screen and (max-width: 767px) {
  .btn-assign-dark {
    margin-top: 10px;
    width: 100%;
  }
}

.footer-navigation .footer-nav-link {
  color: #ffffff;
}

.footer-navigation .footer-nav-link:hover {
  color: #107dff;
  text-decoration: none;
}

.bg-blue {
  background: #194687;
}

.bg-blue-light {
  background: #107dff;
}

.bg-blue-dark {
  background: #1f405f;
}

.text-color-default {
  color: #fefefe;
}

.maps-address {
  background: #194687;
  margin-bottom: -17.5px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .maps-address {
    margin-bottom: -35.5px;
  }
}

