.network-infrastructure {
  background: #cecece url("/images/banners/desktop/_Banner_Solucoes_Service_Desk.png") no-repeat;
  background-size: cover;
  height: 377px;
}

@media screen and (max-width: 767px) {
  .network-infrastructure {
    background: #cecece url("/images/banners/mobile/_Banner_Solucoes_Service_Desk.png") no-repeat;
    background-size: cover;
  }
}

.network-infrastructure .banner-title {
  margin-top: 202px;
  padding: 25px 0px;
  width: 913px;
  font-size: 29px;
  letter-spacing: 16px;
}

@media screen and (max-width: 767px) {
  .network-infrastructure .banner-title {
    padding: 10px 30px;
    width: auto;
    font-size: 19px;
    letter-spacing: 8px;
  }
}

.circle {
  border-radius: 50%;
  width: 123px;
  height: 123px;
  border: 6px solid #1f405f;
}

.margin-circle {
  margin-top: 35px;
}

.margin-paragraph {
  margin-bottom: 61px;
}

.network-infrastructure-content p {
  font-size: 15px;
  line-height: 26px;
}

