// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

//@font-face {
//  src: url("/fonts/OpenSans-Regular.ttf") format('ttf');
//  font-weight: normal;
//  font-style: normal;
//}

html, body, .nav-wrapper {
  background-color: #ffffff;
  font-family: "Open Sans";
  box-shadow: 0px 0px 15px #888888;
}

.fill-width {
  width: 100%;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #456389;
  content: ">";
}

.breadcrumb-item > a{
  color: #456389;

  &:hover {
    color: #5d81af;
    text-decoration: none;
  }
}

.breadcrumb {
  background-color: #ffffff;
}

.dropdown-menu.show {
  display: flex;
  margin: -1px 0px 0px -20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  background-color: $blue-dark;

  @media screen and (max-width: $break-medium) {
    display: block;
    margin: 0px;
  }

  .dropdown-item {
    color: $text-color;

    &:hover {
      background-color: #24597d;
    }
  }
}

.nav-wrapper {
  height: 211px;

  @media screen and (max-width: $break-medium) {
    width: 100%;
    height: 69px;
  }
}

.wrapper {
  padding-top: 211px;

  @media screen and (max-width: $break-medium) {
    width: 100%;
    padding-top: 69px;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3,
.col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
.col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1,
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4,
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2,
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8,
.col-xl-9, .col-xl-auto {
  padding-right: 5px;
  padding-left: 5px;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.content {
  margin: 0 auto;
  max-width: 1024px;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
  @media screen and (max-width: $break-medium) {
    width: 100%;
  }
}

.navbar {
  .margin-nav-content {
    @media screen and (min-width: $break-medium) {
      margin-top: 47px;

      .margin-nav-items {
        margin-top: 34px;
      }
    }
  }
}

.navbar-brand {
  @media screen and (max-width: $break-medium) {
    float: right;
  }
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;

  .nav-item.active {
    @media screen and (min-width: $break-medium) {
      &:after {
        background: $blue-dark;
        content: '';
        display: block;
        height: 5px;
        margin-top: 33px;
        width: 120%;
      }
    }
  }
}

.navbar-expand-md {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.navbar-toggler {
  @media screen and (max-width: $break-medium) {
    margin-top: 6px;
  }
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='#194687' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

[class*="nav-option"] > a {
  @media screen and (max-width: $break-medium) {
    color: $text-color !important;
  }
}

.nav-option-1 {
  @media screen and (max-width: $break-medium) {
    background-color: #194687;
    border: 1px solid #194687;
  }
}

.nav-option-2 {
  @media screen and (max-width: $break-medium) {
    background-color: #19467d;
    border: 1px solid #19467d;
  }
}

.nav-option-3 {
  @media screen and (max-width: $break-medium) {
    background-color: #1a4673;
    border: 1px solid #1a4673;
  }
}

.nav-option-4 {
  @media screen and (max-width: $break-medium) {
    background-color: #184366;
    border: 1px solid #184366;
  }
}

.nav-option-5 {
  @media screen and (max-width: $break-medium) {
    background-color: #173c56;
    border: 1px solid #173c56;
  }
}

.nav-option-6 {
  @media screen and (max-width: $break-medium) {
    background-color: #153649;
    border: 1px solid #153649;
  }
}

.nav-option-7 {
  @media screen and (max-width: $break-medium) {
    background-color: #13303e;
    border: 1px solid #13303e;
  }
}

.section-content {
  width: 100%;
  text-transform: uppercase;
}

.home-banner {
  text-align: center;
  padding: 148px 84px 13px 68px;
  height: 639px;
  color: $text-color;
  font-size: 27px;
  letter-spacing: 16px;
  background: $blue-light;

  .cta-button {
    margin-top: 60px;
  }

  @media screen and (max-width: $break-medium) {
    font-size: 12px!important;
    letter-spacing: 8px;

    .cta-button {
      margin-top: 35px;
    }
  }
}

.slick-dots {
  margin-top: 117px;
  position: relative;

  @media screen and (max-width: $break-medium) {
    margin-top: 18px;
  }

  li button:before {
    font-size: 9px;
    color: $slick-dots-color;
  }

  li.slick-active button:before {
    color: #feffff;
  }
}

.make-budget {
  text-align: center;
  padding: 30px 0;
  height: 223px;
  color: $text-color;
  font-size: 20px;
  background: $blue-dark;
  margin-top: 20px;
  margin-bottom: 20px;

  letter-spacing: 10px;

  span {
    display: block;
    padding: 7px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: $break-medium) {
    font-size: 12px;
  }
}

.padding-8 {
  padding: 8px;
}

.rm-padding {
  padding: 0px !important;
}

.rm-padding-top {
  padding-top: 0px !important;
}

.rm-padding-right {
  padding-right: 0px !important;
}

.rm-padding-bottom {
  padding-bottom: 0px !important;
}

.rm-padding-left {
  padding-left: 0px !important;
}

.banner-title {
  border: $cta-border solid 4px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  background-color: transparent;
  color: $text-color;
  font-size: 29px;
  letter-spacing: 16px;
  padding: 30px 102px;
  display: inline-block;
  align-self: center;
  font-weight: bolder;
  text-align: center;
}

.cta-button {
  border: $cta-border solid 6px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  background-color: transparent;
  color: $text-color;
  font-size: 21px;
  letter-spacing: 4px;
  padding: 8px;
  width: 464px;
  display: inline-block;
  align-self: center;
  font-weight: bold;
  text-align: center;

  &:hover {
    border: $cta-border-hover solid 6px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    font-size: 21px;
    padding: 8px 20px;
    color: $text-color;
    text-align: center;
  }

  @media screen and (max-width: $break-medium) {
    width: 294px;
    font-size: 12px;
  }

  @media screen and (max-width: $break-small) {
    width: 229px;
    font-size: 10px;
  }
}

.services {
  text-align: center;
  padding: 96px 122px;
  color: $text-color;
  letter-spacing: 4px;
  background: $blue-light;

  .cta-button {
    margin-top: 25px;
  }

  @media screen and (max-width: $break-medium) {
    .services-slide-title {
      font-size: 20px;
    }

    .services-slide-description {
      font-size: small;
    }
  }

  .slick-dots {
    margin-top: 0px;
    position: relative;

    @media screen and (max-width: $break-medium) {
      margin-top: 0px;
    }

    li button:before {
      font-size: 9px;
      color: $slick-dots-color;
    }

    li.slick-active button:before {
      color: #feffff;
    }
  }

  .slider-item {
    padding: 0px 60px;
  }
}

.partners {
  text-align: center;
  padding: 45px 0px 4px 0px;

  .partners-title {
    font-size: 17px;
    letter-spacing: 4px;
  }

  .slick-dots {
    margin-top: 0px;
    position: relative;

    @media screen and (max-width: $break-medium) {
      margin-top: 0px;
    }

    li button:before {
      font-size: 9px;
      color: $slick-dots-color;
    }

    li.slick-active button:before {
      color: $blue;
    }
  }

  .slider-item {
    padding: 0px 60px;
  }
}

.leads {

  padding: 30px 0px 13px 0px;
  color: $text-color;
  background: $blue;

  form {
    margin-top: 8px;
  }

  .form-control {
    padding: .85rem .75rem;
    border-radius: 10px;
  }

  .btn {
    padding: .85rem 1.4rem;
    border-radius: 10px;
  }

  @media screen and (max-width: $break-medium) {
    padding: 25px 20px 25px 20px;
    text-align: center;
    font-size: 15px!important;

    .btn {
      margin-top: 15px;
      width: 100%;
    }
  }

  .btn-assign {
    background-color: $blue-light;
    border-color: $blue-light;
    color: $text-color;

    &:hover {
      background-color: #1072db;
      border-color: #1072DB;
    }
  }
}

.footer {
  background: $blue-dark;
  padding: 47px 0px 55px 0px;
  color: $text-color;
  font-size: 12px;
  line-height: 22px;

  img {
    margin-bottom: 27px;
  }

  @media screen and (max-width: $break-medium) {
    padding: 25px 20px 25px 20px;

    img {
      width: 147px;
    }

    .facebook-icon, .newmove-icon {
      width: 48px;
    }
  }

  hr {
    margin-top: 0.4rem;
    margin-bottom: 26px;
    border: 0;
    border-top: 1px solid #fff;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .footer-navigation > li{
    margin-bottom: 2px;
  }

  .footer-target-description {
    width: 458px;

    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
  }
}

.text-blue {
  color: $blue;
}

.hr-blue {
  border: 1px solid #c5d1e1;
}

.text-blue-dark {
  color: $blue-dark;
}

.text-blue-light {
  color: $blue-light;
}

.m-t-37 {
  margin-top: 37px;
}