// Variables
@import "variables";

.customers-banner {
  background: #cecece url("/images/banners/desktop/_Banner_Cases.png") no-repeat;
  background-size: cover;
  height: 360px;

  @media screen and (max-width: $break-medium) {
    background: #cecece url("/images/banners/desktop/_Banner_Cases.png") no-repeat;
    background-size: cover;
    height: 140px;
  }

  .banner-title {
    background-color: transparent;
    margin-top: 202px;

    @media screen and (max-width: $break-medium) {
      margin-top: 60px;
    }
  }
}

.customers-content {
  .content-paragraph {
    line-height: 26px;
  }
}