@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html,
body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

.content {
  margin: 0 auto;
  max-width: 725px;
}

@media screen and (max-width: 320px) {
  .content {
    max-width: 100%;
  }
}

@media screen and (max-width: 715px) {
  .content {
    max-width: 100%;
  }
}

.navbar > .content {
  width: 100%;
}

.nav-item.active:after {
  background: #1c3450;
  content: '';
  display: block;
  height: 2px;
  margin-top: 8px;
  width: 75%;
}

.section-content {
  width: 100%;
  text-transform: uppercase;
}

.home-banner {
  text-align: center;
  padding: 90px 0;
  color: #fefefe;
  font-size: 27px;
  letter-spacing: 16px;
  background: #107dff;
}

.home-banner .cta-button {
  margin-top: 60px;
}

.make-budget {
  text-align: center;
  padding: 50px 0;
  color: #fefefe;
  font-size: 20px;
  background: #1c3450;
  letter-spacing: 10px;
}

.make-budget span {
  display: block;
  padding: 7px;
  margin-bottom: 33px;
}

.cta-button {
  border: #60cdb0 solid 6px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  background-color: transparent;
  color: #fefefe;
  font-size: 21px;
  letter-spacing: 13px;
  padding: 8px;
  width: 364px;
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
}

.cta-button:hover {
  border: #5db99d solid 6px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  font-size: 21px;
  padding: 8px;
  color: #fefefe;
}

